<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Settings</title>
</head>

<body>
    <legend>Bot Name: </legend>
    <input type="text" name="bot_name" placeholder="Bot Name">




    <legend>Bot Logo: </legend>
    <input type="text" name="bot_logo" placeholder="Bot logo">
    <input type="file" name="botLogoFile" placeholder="Bot logo">


    <legend>Auto Greeting Message: </legend>
    <input type="text" name="greeting_message">

    <legend>Status:</legend>
    <input type="radio" name="bot_status" value="Enable">
    <input type="radio" name="bot_status" value="Disable">

    <legend>Whitelisted Domain: </legend>
    <input type="text" name="whitelist_domain" placeholder="Eg. zyroxhosting.in , facebook.com">
</body>

</html>