<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Crisp-Style Live Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
        integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="./style.css">
    <script src="./index.js" defer></script>
</head>

<body>


    <script src="http://localhost:3000/widget.js"></script>
   


</body>

</html>